@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Nerko+One&display=swap');
$mon-font: "montserrat";
$nerko_font: 'Nerko One', cursive;
$medium-weight: 300;

%font_and_weight {
    font-weight: 300;
    font-family: 'Nerko One',
        cursive;
}

@font-face {
    font-family: 'montserrat';
    src: 'fonts/montserrat.ttf';
}

body {
    font-size: 12px;
    font-family: $mon-font;
}

* {
    box-sizing: border-box;
    font-family: $mon-font;
}

.dev-img {
    width: 100%;
    padding: 8px 12px;
}

.page-title {
    @extend %font_and_weight;
    font-size: 24px;
    letter-spacing: 5px;
}

.sub-title {
    font-weight: 300;
    font-family: 'Nerko One',
        cursive;
    // @extend %font_and_weight;
    margin: 20px 12px 5px 9px;
    font-size: 18px;
    letter-spacing: 4px;

}

iframe {
    padding: 8px 12px;
    width: 100%;
    display: block;
}